<!doctype html>
<html lang=''>
<head>
  <meta charset=''>
  <meta name='viewport' content='width=, user-scalable=, initial-scale=, maximum-scale=, minimum-scale='>
  <meta http-equiv='X-UA-Compatible' content='ie='>
  <title>Exercise Tracker</title>
</head>
<body>
  <h1>Exercise Tracker</h1>
<main>
  <section>
    <form method="POST" action='/api/users' >
      <label for='username'>Username</label>
      <input required id='username' name='username' type='text' >
      <button type='submit'>Submit</button>
    </form>
  </section>
</main>
</body>
</html>
